<section id="content-main">
  <div class="edit-area">
    <form action="" method="get" accept-charset="utf-8" id="task_form">
      <label>Task Title:</label>
      <input type="text"     name="name" value="" id="">
      <input type="submit"   value="Add Task">
    </form>
    
    <form action="" method="get" accept-charset="utf-8" id="modification_form">
      <label>You are <span class="mode">deleting</span> <strong class="count">4</strong> tasks</label>
      <input type="submit" value="Delete Tasks">
    </form>
  </div>
  
  <ul class="tasks">
    <% if !@tasks.blank? %>
      <% for task in @tasks %>
        <li class="todo"><a href="<%= complete_task_path(task) %>" class="name" data-bindings="link:href"><%= task.name %></a></li>
      <% end %>
    <% else %>
      <li class="todo"><a href="#" class="name" data-bindings="link:href"></a></li>
    <% end %>
  </ul>
</section>