/*
   KEEP CSS CLEAN
   
   1. Only put one selector per line for a block of rules that apply to 
      multiple selectors.
   2. Indent your rules and only use one rule per line.
   3. Indent proprietary properties twice. Keep these properties directly 
      below the proposed property.
   4. Place a space between a property and it's value.
   
   (exceptions for large blocks of repetetive and easily identifiable CSS)
   
   EXAMPLE:
   
   element#id,
   element.class {
      rule1: value;
         -webkit-rule1: value;
         -moz-rule1: value;
      rule2: value;
      rule3: value;
   }
   
*/

/* Screen Build Directive:

   All imports are merged in order into a single file. Nested @imports are 
   supported in order of appearance but not recommended.
================================================================================ */

/* Reset the screen presentation for consistency accross browsers. */
@import "reset.css";

/* Common global elements such as hrefs, lists, and paragraphs. */
@import "common.css";

/* Layout rules for columns and divisions. */
@import "structure.css";

/* Styling for specific list modes and UI buttons. */
@import "style.css";