/*
   KEEP CSS CLEAN
   
   1. Only put one selector per line for a block of rules that apply to 
      multiple selectors.
   2. Indent your rules and only use one rule per line.
   3. Indent proprietary properties twice. Keep these properties directly 
      below the proposed property.
   4. Place a space between a property and it's value.
   
   (exceptions for large blocks of repetetive and easily identifiable CSS)
   
   EXAMPLE:
   
   element#id,
   element.class {
      rule1: value;
         -webkit-rule1: value;
         -moz-rule1: value;
      rule2: value;
      rule3: value;
   }
   
*/

/* Common
================================================================================ */


body {
   font-family: "Helvetica Neue", Helvetica, sans-serif;
   background-color: rgb(255,255,255);
   font-size: 14px;
   line-height: 20px;
   color: rgb(0,0,0);
}

a:link,
a:visited {
   text-decoration: none;
   color: rgb(0,0,0);
}

a:hover,
a:active {
   text-decoration: none;
   color: rgb(0,0,0);
}

p {
   padding: 0;
   margin: 0;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

h1,
h2,
h3 {
   padding: 0 20px;
   font-size: 14px;
   line-height: 20px;
}

form {
   padding: 0 20px 0 20px;
   margin: 0 0 20px 0;
}

input,
select,
textarea {
   font-family: "Helvetica Neue", Helvetica, sans-serif;
   margin: 0 0 10px 0;
}

input[type="submit"] {
   margin: 0;
}

label {
   display: block;
   padding: 0 0 5px 0;
}