html,
body,
h1,
ul,
li,
form,
fieldset {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #eee;
  -webkit-text-size-adjust: none;
  color: #444;
}

a:link,
a:visited {
  text-decoration: none;
  color: #444;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #444;
}

form {
  padding: 10px;
}

fieldset,
img {
  border: 0;
}

.column-full {
  float: left;
  width: 100%;
  clear: both;
}

#navigation {
  background-color: #aaa;
  border-bottom: 1px solid #777;
}

#navigation ul {
  padding: 10px 0 0 10px;
}

#navigation ul li {
  list-style: none;
  display: block;
  float: left;
  padding: 0 5px 0 0;
}

#navigation ul li a {
  display: block;
  float: left;
  padding: 10px 12px;
  background-color: #999;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#navigation ul li a img {
  display: block;
}

#navigation ul li.active a {
  background-color: #fff;
  padding: 10px 12px 11px 12px;
  margin-bottom: -1px;
}

#tools {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

#tools .delete {
  float: right;
}

#content {
  
}

#content h1 {
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  clear: both;
}

#content h1 a {
  padding: 10px;
  display: block;
}

#content h1 a.move {
  float: right;
}

#content h1 a img {
  display: block;
}

#content ul li {
  list-style: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
  clear: both;
}

#content ul li a {
  display: block;
  padding: 10px;
  line-height: 20px;
}

#content ul li a img {
  display: block;
}

#content ul li a.checkbox {
  float: left;
}

#content ul li a.star {
  float: right;
}

#content form {
  border-top: 1px solid #fff;
}

#content form label {
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}

#content form input,
#content form textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 0 10px 0;
}

#content form select {
  margin: 0 0 10px 0;
}




